# see https://stackoverflow.com/a/10855862/84693

# auto detect text files and perform LF normalization
*             text=auto

*.cs          text
*.csproj      text
*.props       text
*.targets     text
*.config      text
*.sln         text
*.json        text
*.py          text
*.ipynb       text
*.txt         text
*.md          text

# explicitly use LF
*.sh          text eol=lf
*.tpl         text eol=lf
*.yml         text eol=lf
*.yaml        text eol=lf

# For GitHub language statistics to be correct
*.tpl linguist-language=yaml
jupyter-notebooks/** linguist-vendored
